@import url("https://fonts.googleapis.com/css2?family=Noto + Sans + JP:wght@500&display=swap");
.App {
  text-align: center;
  margin-top: 3%;
  padding-left: 8%;
  padding-right: 8%;
  background-color: rgb(248, 247, 247);
  align-items: center;
  color: rgb(41, 40, 40);
}
.animation {
  justify-content: center;
  margin: auto;
  display: flex;
  padding: 4%;
}
h3 {
  margin: 0;
}
#root,
html {
  background-color: rgb(248, 247, 247);
  text-align: center;
  max-width: 100vw;
}

.title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 800 !important;
  color: rgb(41, 40, 40);
}
/*https://stackoverflow.com/questions/40306105/how-can-i-stack-bootstrap-buttons-on-mobile*/
@media only screen and (max-width: 767px) {
  .btn-group {
    display: block;
    align-content: center;
    justify-content: flex;
  }
}
.compareButton {
  margin-top: 2% !important;
  font-family: "Roboto" !important;
  background-color: #1db954 !important;
  border: #3f51b5 !important;
  font-size: 25px !important;
  padding-left: 4% !important;
  padding-right: 4% !important;
}

@media (prefers-reduced-motion: no-preference) {
  .soundWave {
    animation: scaleY 2s infinite ease-in-out;
  }
}

.btn-success {
  background-color: #96b2e6;
  border: #96b2e6;
  box-shadow: 3px 3px 12px #888888 !important;
}

.btn-success:active,
.btn-success:visited,
btn-success:focus {
  background-color: #96b2e6 !important;
}
.btn-success:hover {
  background-color: #54637e;
  border: #54637e;
}

.btn-success.disabled {
  background-color: #b1bfda !important;
  border: #b1bfda;
}
.buttonGroup {
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: "Roboto" !important;
}
.buttonToggle {
  margin: 3% !important;
  white-space: nowrap;
  padding-right: 15% !important;
  padding-left: 15% !important;
  border-radius: 4% !important;
}

.App-link {
  color: #61dafb;
}

@keyframes scaleX {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.2);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes scaleY {
  0% {
    transform: scaleY(1);
    transform: scaleX(1);
  }

  50% {
    transform: scaleY(1.5), scaleX(1.2), translate(100px, 200px);
    translate: ();
    transform: scaleX(1.2);
  }

  100% {
    transform: scaleY(1);
    transform: scaleX(1);
  }
}
.headphones {
  transform: scale(0.8);
  margin-left: -8%;
  height: 20%;
}
