.cover {
  min-width: 7rem;
  min-height: 100%;

  padding: 0;
  padding-top: 0 !important;
}
.coverGrid {
  padding-top: 0 !important;
}

.infoCard {
  display: flex;
  padding: 0;

  margin: auto;
  margin-bottom: 5% !important;
  width: 35vh;
  height: 14vh;
  object-fit: contain;
  background-color: white !important;
}
@media only screen and (max-width: 768px) {
  .cardContent {
    display: block;
    width: 100%;
    height: auto;
  }

  .grid {
    width: 100% !important;
  }
}

.cardContent {
  display: "flex";
  flex-direction: "column";
  display: inline-flex;

  padding-left: 0 !important;
  padding-top: 2.5% !important;
  padding-bottom: 0 !important;
  padding-right: 1rem !important;
}
.text {
  font-size: 0.85rem !important;
  text-align: left;
}
.grid {
  padding: 2%;
}
