.cover {
  min-width: 7rem;
  min-height: 100% !important;

  padding: 0;
  padding-top: 0 !important;
}
.coverGrid {
  padding-top: 0 !important;
}

.infoCard {
  padding: 0 !important;
  display: flex;
  margin: auto;
  margin-bottom: 5% !important;
  width: calc(3em * 5.3);
  height: calc(3em * 2.2);

  object-fit: contain;
  background-color: white !important;
}
@media only screen and (max-width: 768px) {
  .cardContent {
    display: block;
    width: 100%;
    height: 15vh;
    font-size: 13em !important;
    padding-bottom: 3% !important;
    padding-left: 3% !important;
  }
}

.grid {
  width: 100% !important;
}

.cardContent {
  display: "flex";
  flex-direction: "column";
  display: inline-flex;

  padding-left: 0 !important;
  padding-top: 2.5% !important;
  padding-bottom: 0 !important;
  padding-right: 1rem !important;
}
.text {
  font-size: 0.85rem !important;
  text-align: left;
}
.grid {
  padding: 2%;
}
